apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: jellyfin
  namespace: media
spec:
  parentRefs:
    - name: cilium-gateway
      namespace: cert-manager
  hostnames:
    - jellyfin.cluster.nelsondane.com
    - jellyfin.nelsondane.com
  rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
        - name: jellyfin
          port: 8096
