apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: actual
  namespace: apps
spec:
  serviceName: actual
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: actual
  template:
    metadata:
      labels:
        app: actual
    spec:
      enableServiceLinks: false # https://github.com/actualbudget/actual/issues/4920#issuecomment-2858039347
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      restartPolicy: Always
      containers:
        - name: actual
          image: docker.io/actualbudget/actual-server:latest-alpine@sha256:34fc5208f6023431c0fbc9684a07d9500448cdd22908f3825ac1cf88dc058191
          ports:
            - containerPort: 5006
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: actual-data
              mountPath: /data
          livenessProbe:
            exec:
              command:
                - node
                - src/scripts/health-check.js
          readinessProbe:
            exec:
              command:
                - node
                - src/scripts/health-check.js
  volumeClaimTemplates:
    - metadata:
        name: actual-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
        storageClassName: longhorn
