apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: capacitor-next
  namespace: flux-system
spec:
  parentRefs:
    - name: cilium-gateway
      namespace: cilium
  hostnames:
    - next.cluster.nelsondane.com
  rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
        - name: capacitor-next
          port: 80
