apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tuppr
  namespace: system-upgrade
spec:
  interval: 10m
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: tuppr-helm
    namespace: system-upgrade
