apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: node-feature-discovery
spec:
  interval: 15m
  timeout: 10m
  releaseName: node-feature-discovery
  chart:
    spec:
      chart: node-feature-discovery
      version: 0.18.3
      sourceRef:
        kind: HelmRepository
        name: nfd
        namespace: flux-system
  upgrade:
    remediation:
      retries: 3
  values:
    worker:
      securityContext:
        privileged: true
        allowPrivilegeEscalation: true
        runAsUser: 0
        runAsNonRoot: false
        readOnlyRootFilesystem: false
