apiVersion: apps/v1
kind: Deployment
metadata:
  name: rathole
  namespace: rathole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rathole
  template:
    metadata:
      labels:
        app: rathole
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: rathole
          image: rapiz1/rathole:latest@sha256:a31b9178e985d4a84f46d4c3af6aa200ee0c5e7f821c7075a1f6669fb77392b1
          command: ["/app/rathole", "/app/config.toml"]
          resources:
            requests:
              cpu: "1"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
          volumeMounts:
            - name: config
              mountPath: /app/config.toml
              subPath: config.toml
      volumes:
        - name: config
          configMap:
            name: rathole-config
