
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qui-config
  namespace: vpn
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
