apiVersion: apps/v1
kind: Deployment
metadata:
  name: frp
  namespace: frp
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: frp
  template:
    metadata:
      labels:
        app: frp
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      restartPolicy: Always
      containers:
        - name: frp
          image: ghcr.io/fatedier/frpc:v0.67.0@sha256:000178d7d8e55c2b639587c8a6413f07d72ce340899896b11a64acd405d1994c
          args: ["-c", "/etc/frpc.toml"]
          ports:
            - name: api
              containerPort: 7400
              protocol: TCP
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
          volumeMounts:
            - name: config
              mountPath: /etc/frpc.toml
              subPath: frpc.toml
          livenessProbe:
            httpGet:
              path: /healthz
              port: 7400
          readinessProbe:
            httpGet:
              path: /healthz
              port: 7400
      volumes:
        - name: config
          configMap:
            name: frp-config
