apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
  namespace: renovate
spec:
  schedule: "@hourly"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          initContainers:
            - name: token-generator
              image: nelsondane/renovate-token-injector:latest@sha256:3959dc3ee9a8ac5b9c4b88ed126552ef2260d6d4bdda8f0a71d453cdf023f16b
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: tmp
                  mountPath: /app/out
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          containers:
            - name: renovate
              image: renovate/renovate:42.43.0@sha256:55471bc598f7114bd0c38adbe5da8b3642c33efdaf8450bb2911127b7dfca2dc
              env:
                - name: LOG_LEVEL
                  value: debug
                - name: RENOVATE_TOKEN
                  valueFrom:
                    fileKeyRef:
                      path: config.env
                      volumeName: tmp
                      key: GH_TOKEN
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: config
                  mountPath: /opt/renovate/
                  readOnly: true
                - name: tmp
                  mountPath: /tmp/renovate/
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          restartPolicy: Never
          volumes:
            - name: config
              configMap:
                name: renovate-config
            - name: tmp
              emptyDir: {}
