apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
  namespace: renovate
  annotations:
    ignore-check.kube-linter.io/no-liveness-probe: "Renovate CronJob does not need a liveness probe"
    ignore-check.kube-linter.io/no-readiness-probe: "Renovate CronJob does not need a readiness probe"
spec:
  schedule: "@hourly"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          restartPolicy: OnFailure
          initContainers:
            - name: token-generator
              image: nelsondane/renovate-token-injector:latest@sha256:106150cce41341f34a41d807ccec6de9e86cc3ebe159cc53a0bfb937cc3611da
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: tmp
                  mountPath: /out
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          containers:
            - name: renovate
              image: renovate/renovate:43.5.0@sha256:4fcb144a8470154e7cdee6b7cc8d4c7add26fd061611c42d5ee74541e85d3143
              env:
                - name: LOG_LEVEL
                  value: debug
                - name: RENOVATE_TOKEN
                  valueFrom:
                    fileKeyRef:
                      path: config.env
                      volumeName: tmp
                      key: GH_TOKEN
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: config
                  mountPath: /opt/renovate/
                  readOnly: true
                - name: tmp
                  mountPath: /tmp/renovate/
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          volumes:
            - name: config
              configMap:
                name: renovate-config
            - name: tmp
              emptyDir: {}
