apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
  namespace: renovate
  annotations:
    ignore-check.kube-linter.io/no-liveness-probe: "Renovate CronJob does not need a liveness probe"
    ignore-check.kube-linter.io/no-readiness-probe: "Renovate CronJob does not need a readiness probe"
    ignore-check.kube-linter.io/no-read-only-root-fs: "Renovate installs tools it doesn't have, follow: https://github.com/renovatebot/renovate/discussions/24842"
spec:
  schedule: "@hourly"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          restartPolicy: OnFailure
          initContainers:
            - name: token-generator
              image: nelsondane/renovate-token-injector:latest@sha256:4fbf7da7cc82e9cebffe916aba537626a4ed2e1b090de2a7135e4aa24e7d385e
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: tmp
                  mountPath: /out
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          containers:
            - name: renovate
              image: renovate/renovate:43.31.1@sha256:99198d61d3c837085bdc94e0eafb1d57de3ecbfdc2e5e994817e589f71eacd16
              env:
                - name: LOG_LEVEL
                  value: debug
                - name: RENOVATE_TOKEN
                  valueFrom:
                    fileKeyRef:
                      path: config.env
                      volumeName: tmp
                      key: GH_TOKEN
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: config
                  mountPath: /opt/renovate/
                  readOnly: true
                - name: tmp
                  mountPath: /tmp/renovate/
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: false
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          volumes:
            - name: config
              configMap:
                name: renovate-config
            - name: tmp
              emptyDir: {}
