apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
  namespace: renovate
  annotations:
    ignore-check.kube-linter.io/no-liveness-probe: "Renovate CronJob does not need a liveness probe"
    ignore-check.kube-linter.io/no-readiness-probe: "Renovate CronJob does not need a readiness probe"
spec:
  schedule: "@hourly"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          restartPolicy: OnFailure
          initContainers:
            - name: token-generator
              image: nelsondane/renovate-token-injector:latest@sha256:798a8649e31843e0eb57effa71238c77a94154999a1546c8d1364e30ac5ed607
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: tmp
                  mountPath: /out
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          containers:
            - name: renovate
              image: renovate/renovate:42.81.7@sha256:871b10ec00d124336f481c2d5d0eba5c755e4e6509f11b1e56886260e0d88878
              env:
                - name: LOG_LEVEL
                  value: debug
                - name: RENOVATE_TOKEN
                  valueFrom:
                    fileKeyRef:
                      path: config.env
                      volumeName: tmp
                      key: GH_TOKEN
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
                - name: config
                  mountPath: /opt/renovate/
                  readOnly: true
                - name: tmp
                  mountPath: /tmp/renovate/
              securityContext:
                allowPrivilegeEscalation: false
                readOnlyRootFilesystem: true
                capabilities:
                  drop: ["ALL"]
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
          volumes:
            - name: config
              configMap:
                name: renovate-config
            - name: tmp
              emptyDir: {}
