apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: huntarr
  namespace: media
spec:
  serviceName: huntarr
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: huntarr
  template:
    metadata:
      labels:
        app: huntarr
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      restartPolicy: Always
      containers:
        - name: huntarr
          image: docker.io/huntarr/huntarr:latest@sha256:95e88b2595f71b1ec2e158a3b9461c573e192928c51ac2b0d9675f33d4cdba15
          ports:
            - containerPort: 9705
          env:
            - name: TZ
              value: "America/New_York"
            - name: HUNTARR_PORT
              value: "9705"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: huntarr-config
              mountPath: /config
          livenessProbe:
            tcpSocket:
              port: 9705
          readinessProbe:
            tcpSocket:
              port: 9705
  volumeClaimTemplates:
    - metadata:
        name: huntarr-config
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
        storageClassName: longhorn
